<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title class="">Goldsmiths Jewellers | Watches, Diamonds, Rings &amp; Wedding Jewellery</title>
</head>

<body class="" style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;">
    <div class="" style="margin: 0px; background-color: rgb(239, 239, 239); font-family: Arial, Helvetica, sans-serif; background-position: initial initial; background-repeat: initial initial;">
        <table align="center" cellpadding="0" cellspacing="0" class="" style="width:762px; background:#efefef; margin:0 auto !important;" width="762">
            <tbody class="">
                <tr class="">
                    <td align="center" class="" height="20" valign="top" width="100%"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" style="background:#ffb200; padding:10px 0 13px 0;" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="750">
                            <tbody class="">
                                <tr class="">
                                    <td align="left" class="" valign="top" width="258"></td>
                                    <td align="center" class="" valign="top" width="211">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" target="_blank" title=""><img alt="" class="" src="https://email1077.s3.amazonaws.com/goldsmiths/15/may/img_02.png" style="border:none;"></a>
                                    </td>
                                    <td align="center" class="" valign="top" width="281"></td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="100%">
                            <tbody class="">
                                <tr class="">
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Diamonds?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000; text-transform:uppercase;"
                                            target="_blank" title="">Diamonds</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Engagement?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000; text-transform:uppercase;"
                                            target="_blank" title="">Engagement</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Weddings?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000; text-transform:uppercase;"
                                            target="_blank" title="">Weddings</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Jewellery?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000; text-transform:uppercase;"
                                            target="_blank" title="">Jewellery</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Watches?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000; text-transform:uppercase;"
                                            target="_blank" title="">Watches</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Gifts?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000;text-transform:uppercase;"
                                            target="_blank" title="">Gifts</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/Brands?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000;text-transform:uppercase;"
                                            target="_blank" title="">Brands</a>
                                    </td>
                                    <td align="center" class="" height="25" valign="bottom">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/c/SALE?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; font-size: 13px; color:#000000; text-transform:uppercase;" target="_blank"
                                            title="">Sale</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%"><img alt="" class="" src="http://development.biglight.co.uk/goldsmiths/Emails/Wedding20/Goldsmiths_Email_Promo_02.jpg" style="display:block;"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="762">
                            <tbody class="">
                                <tr class="">
                                    <td align="center" class="" valign="top" width="228">
                                        <img alt="" class="" src="http://development.biglight.co.uk/goldsmiths/Emails/Wedding20/Goldsmiths_Email_Promo_03.jpg" style="display:block;"></td>
                                    <td align="center" class="" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;" valign="middle" width="307">
                                        {{ voucher }}</td>
                                    <td align="center" class="" valign="top" width="228">
                                        <img alt="" class="" src="http://development.biglight.co.uk/goldsmiths/Emails/Wedding20/Goldsmiths_Email_Promo_05.jpg" style="display:block;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="100%">
                            <tbody class="">
                                <tr class="">
                                    <td align="center" class="" valign="top" width="263">
                                        <img alt="" class="" src="http://development.biglight.co.uk/goldsmiths/Emails/Wedding20/Goldsmiths_Email_Promo_06.jpg" style="display:block;"></td>
                                    <td align="center" class="" valign="top" width="193">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" target="_blank" title=""><img alt="" class="" src="images/Goldsmiths_Email_Promo_07.jpg" style="display:block; border:none;"></a>
                                    </td>
                                    <td align="center" class="" valign="top" width="272">
                                        <img alt="" class="" src="http://development.biglight.co.uk/goldsmiths/Emails/Wedding20/Goldsmiths_Email_Promo_08.jpg" style="display:block;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%"><img alt="" class="" src="http://development.biglight.co.uk/goldsmiths/Emails/Wedding20/Goldsmiths_Email_Promo_09.jpg"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="700">
                            <tbody class="">
                                <tr class="">
                                    <td align="left" class="" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#060606; padding:13px 0 10px 0;" valign="top" width="100%">
                                        This offer is available for today only. This offer only excludes excludes online only priced items. This offer applies to full price diamond jewellery items only, while stocks last and are subject to availability. Offer cannot be used in conjunction with
                                        any other promotion, promotion code, products labelled as &quot;online prices&quot;, cashback, discounts inclusive of Tesco Clubcard Reward Tokens, Interest Free Credit or Claims Service Cards. This offer is online
                                        only and cannot be used in stores but can be used on
                                        <a class="" href="http://goldsmiths.co.uk">Goldsmiths.co.uk</a> for delivery to store via the click and collect facility. No cash alternative can be offered. Goldsmiths reserves the right to withdraw this offer
                                        at any time. The discount code supplied must be entered on the checkout page and the discount will be shown beside each qualifying product in the basket. Goldsmiths reserves the right to cancel orders from traffic
                                        originating from any other sources other than the site the discount code was officially issued to. Only one discount can be used per single transaction. Excludes sale items and Vera Wang
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" height="33" valign="middle" width="100%"><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_11.png"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" height="22" valign="top" width="100%"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="100%">
                            <tbody class="">
                                <tr class="">
                                    <td align="left" class="" valign="top" width="375">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="100%">
                                            <tbody class="">
                                                <tr class="">
                                                    <td align="center" class="" height="46" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#646360;" valign="top" width="100%">
                                                        <strong class="">Online
                                                            shopping made
                                                            easy</strong><br class=""> Buy online and collect from your nearest showroom
                                                    </td>
                                                </tr>
                                                <tr class="">
                                                    <td align="center" class="" valign="top" width="100%">
                                                        <img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_12.png"></td>
                                                </tr>
                                                <tr class="">
                                                    <td align="center" class="" height="50" valign="middle" width="100%">
                                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/i/delivery-information?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" target="_blank" title=""><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_13.png" style="border:none;"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td align="left" class="" valign="top" width="18"></td>
                                    <td align="left" class="" valign="top" width="369">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="100%">
                                            <tbody class="">
                                                <tr class="">
                                                    <td align="center" class="" height="46" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#646360;" valign="top" width="100%">
                                                        <strong class="">Order with
                                                            confidence</strong><br class=""> Free delivery on all orders and easy returns
                                                    </td>
                                                </tr>
                                                <tr class="">
                                                    <td align="center" class="" valign="top" width="100%">
                                                        <img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_14.png"></td>
                                                </tr>
                                                <tr class="">
                                                    <td align="center" class="" height="50" valign="middle" width="100%">
                                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/i/click-and-collect?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" target="_blank" title=""><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_13.png" style="border:none;"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%"><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_15.png"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" height="20" valign="top" width="100%"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="285">
                            <tbody class="">
                                <tr class="">
                                    <td align="center" class="" valign="middle">
                                        <a class="y-tracking" href="https://www.facebook.com/GoldsmithsUK/" target="_blank" title=""><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_16.png" style="border:none;"></a>
                                    </td>
                                    <td align="center" class="" valign="middle">
                                        <a class="y-tracking" href="https://twitter.com/Goldsmithsuk" target="_blank" title=""><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_17.png" style="border:none;"></a>
                                    </td>
                                    <td align="center" class="" valign="middle">
                                        <a class="y-tracking" href="https://www.pinterest.com/goldsmithsuk/" target="_blank" title=""><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_18.png" style="border:none;"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" height="60" valign="top" width="100%"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" valign="top" width="100%">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" class="" width="270">
                            <tbody class="">
                                <tr class="">
                                    <td align="left" class="" valign="middle" width="50%">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/i/Here-to-help?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none; color:#39312a;" target="_blank"
                                            title="">Contact Us</a>
                                    </td>
                                    <td align="right" class="" valign="middle" width="50%">
                                        <a class="y-tracking" href="http://www.goldsmiths.co.uk/i/terms-of-use?utm_source=lightbox&utm_medium=email&utm_campaign=wedding20" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none; color:#39312a;" target="_blank"
                                            title="">Terms &amp; Privacy</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="">
                    <td align="center" class="" height="35" valign="top" width="100%"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#41342a;" valign="middle" width="100%"><img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_19.png">Copyright 2015 © Aurum Group Ltd. All Rights Reserved.
                        <img alt="" class="" src="http://email1077.s3.amazonaws.com/goldsmiths/jan/diamwed/img_20.png"></td>
                </tr>
                <tr class="">
                    <td align="center" class="" height="60" valign="top" width="100%"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
